*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body{
    background-color: #0e1118;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100svh;
}

body h1{
    margin-bottom: 20px;
}

.tile{
    width: 50px;
    aspect-ratio: 1/1;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}

.choosen-tile{
    width: 25px;
    aspect-ratio: 1/1;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}

#color-parent{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.choosable-tile{
    height: 25px;
    width: 25px;
}

.color-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.choosen-color-container{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}

.tile-container{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.btn{
    padding: 5px 10px;
    color: #0e1118;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-btn{
 font-weight: bold;
}

.reset-btn:hover{
    transform: scale(1.02);
    transition: 0.3s;
}


.color-modal{
    background-color: #fff;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    position: fixed;
    color: #0e1118;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.btn-start{
    background: #0D00FF;
    color: white;   
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}


#color-form{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.stats-bar{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.game-container{
    display: flex;
    flex-direction: column;
}

.timer{
    width: 100px;
}

.click-count{
    width: 100px;
}